
.clear
{
    clear:both;
}
.container
{
    width:1170px;
    margin:0px auto;
   
}
header
{
    background-color:black;
}
header img{
    float:left;
    border:5px solid red;
}
header h3
{
    float:left;
    font-size:40px;
    color:white;
    margin-top:7px;
    margin-left:50px;
}
.logo
{
    float:left;

}
.mainsection .container
{
    
   
   font-weight:500px;
    text-align:center;
    padding-top:100px;
    padding-bottom:250px;
}

.entrysection
{
        display:inline-block;
}
.entrysection input[type="text"],input[type="password"] {
display:block;
width:250px;
text-align:center;
height:50px;
margin-top:40px;
color:black;
font-size:20px;

border-radius: 15px;
}
.buttonsignup input[type="button"]
{
    margin-top:15px;
    width:100px;
    margin-left:5px;
    height:30px;
    padding-left:5px;
    padding-top:3px;
    font-size:10px;
    background-color:black;
    border-radius: 15px;
    color:white;
}
.buttonsignup  a
{
 text-decoration: none;
}
.entrysection input[type="submit"]
{
    width:150px;
    margin-left:5px;
    height:40px;
    padding-left:5px;
    padding-top:3px;
    font-size:15px;
    background-color:black;
    border-radius: 15px;
    color:white;
    margin-top:25px;
}


.buttonsignup span{
    font-size:18px;
}
.buttonsignup{
    margin-top:50px;
}
.outersection
{
    width:300px;
    background-color:rgba(255,0,0,0.3);
    padding:50px;
    border-radius:15%;
    display: inline-block;
}

