.container
{
    width:1170px;
    margin:0px auto;
   
}
header .container
{
    background-color:black;
	position:relative;
	width:1170px;
	padding:20px;
    margin:0px auto;
}

header img{
    position:absolute;
	height:100px;
    top:0px;
    border: 5px solid #1c5caf;


}
header h3
{
    float:left;
    font-size:40px;
    color:white;
    margin-top:7px;
    margin-left:250px;
}
.logo
{
    float:left;

}
.clear
{
    clear:both;
}
.mainsection
{
  
    height:500px;
}
.mainsection .container
{
    margin-top:10px;
    
}
.verticalMenubar
{
	position:fixed;
    background-color: black;
    padding:30px ;
	top:250px;
    width:16%;
	text-align:center;
}
 .verticalMenubar a{
	 display:block;
    text-decoration: none;
    padding:10px 0px;
    color:white;
   
} 

.verticalMenubar a:hover{
    background-color:white;
    color:#1c5caf;
	 padding:10px ;
	 }
.bodysection
{
    padding-right:35px;
    padding-top:100px;   
	padding-left:305px;
    min-height:650px;
    width:71%;
    background-color:rgba(232, 237, 229, 0.3);
}
.functionbutton
{
    background-color:rgba(0,0,0,0.5);
    right:70px;
    top:85px;
    position:fixed;
    padding: 10px;

}
.functionbutton  input[type=button]
{
    
        width:60px;
        margin-left:35px;
        height:40px;
        padding-left:5px;
        padding-top:0px;
        font-size:15px;
        background-color: black;
        border-radius: 15px;
        color:white;
        
    }
    .functionbutton a{

        margin-left:30px;
       background-color:black;
         padding:15px;
        display:inline-block;
        
        
    }
    .functionbutton i{
        color:white;
    }
    hr{
        
        width:100%;

    }
    #formpage,#registeredUserForm
    {
        padding:20px;   
        background-color:rgba(5, 137, 255, 0.4);
        text-align:left;
        
   }
    h1{
        font-size:30px;
        text-align: center;
    }
    #formpage label,#registeredUserForm label{
        font-size: 20px;
        margin-bottom:10px;
        
    }
    .todoItem
  {
      display:inline-block;
      width:40%;
      margin:20px 0px;
  }

  .todoItem1
  {
      display:block;
      margin:20px 0px;
  }
textarea
{
    height:100px;
    width:100%;
    border-radius:20px;
}

    .todoItem label{
        font-size:20px;
        display:block; 
}
    #formpage input[type="text"],#registeredUserForm input[type="text"]{
      display:inline-block;
	  height:30px;
	  text-align:center;
	  border-radius:20px;	
      width:600px;
  }
  
  #formpage input[type="date"],#registeredUserForm input[type="date"]{
    display:inline-block;
    width:200px;
}
 
  .categorytype
  {
      
      width:200px;
  }
  #formpage  input[type=button],#registeredUserForm input[type="button"]
{
    
        width:190px;
        margin-left:35px;
        height:40px;
        padding-left:5px;
        padding-top:0px;
        font-size:15px;
        background-color: black;
        border-radius: 15px;
        color:white;
        
    }
	#searchTodo
  {
	
	  display:inline-block;
	  height:30px;
	  text-align:center;
	  width:300px;
	  
  }
  
	#searchTodoButton
	{
		width:190px;
        margin-left:0px;
        height:30px;
        padding-left:5px;
        padding-top:0px;
        font-size:15px;
        background-color: black;
      
        color:white;
	}
    #todoCards
    {
      
        min-width:500px;
        
    }
    #MytodopageClass h1
    {
        font-size:30px;
            text-align: center;
            margin-bottom:10px;
    }
	.filterTodoClass
	{
        text-align:center;
	
		padding:10px;
		background-color:black;
	}
	#filterDropdown
	{
		width:100px;
		height:30px;
		border-radius:20px;
		margin-left:10px;
    }
    .filterdiv
	{
        margin-top:5px;
        display:inline-block;
        width:100px;
		height:30px;
		border-radius:20px;
        margin-left:0px;
        background-color: aliceblue;
    }
    #filterdate
    {
        display:inline-block;
      
	  height:30px;
	  text-align:center;
	  border-radius:20px;	
      width:200px;
    }
    
    .todoDisplayclass
    {
        width:200px;
        height:200px;
        background-color:rgba(232, 237, 229, 0.3);
        border:2px solid #1c5caf;
        box-shadow: 3px 3px #1c5caf;

        margin-left:30px;
        display: inline-block;
        text-align: center;
        padding:5px;
        margin-top:25px;
    }
    .MytopageClass h1
    {
        text-align: center;
    }
    .todoDisplayclass h1{
        font-size:25px;
        margin-top:10px;
        
    }
	.isDoneDiv h3
	{
		font-size:20px;
        margin-top:10px;
		display:inline-block;
		margin-right:10px;;
	}
	.isDoneDiv input[type="checkbox"]
	{
		width:20px;
		height:20px;
		
	}
    .todoDisplayclass h3{
        font-size:20px;
        margin-top:10px;
    }
    .todoDisplayclass input[type=button]
    {
        width:120px;
        margin-top:10px;
        height:40px;
        padding-left:5px;
        padding-top:0px;
        font-size:15px;
        background-color: black;
        border-radius: 15px;
        color:white;
        
    }
    #deleteDiv
    {
        vertical-align: top;
        width:20px;
        height:20px;
    }
  .isLate{
  
    background-color:rgba(232, 237, 229, 0.3);
    border:2px solid red;
    box-shadow: 3px 3px red;
    }
    .isDonetodo{
        
            background-color:rgba(232, 237, 229, 0.3);
            border:2px solid green;
            box-shadow: 3px 3px green;
            
    }