.container {
    width:1170px;
    margin:0px auto;
}

header .container{
    background-color:black;
	position:relative;
	width:1170px;
	padding:20px;
    margin:0px auto;
}

header img{
    position:absolute;
	height:100px;
    top:0px;
    border: 5px solid #1c5caf;
}

header h3{
    float:left;
    font-size:40px;
    color:white;
    margin-top:7px;
    margin-left:250px;
}

.logo{
    float:left;
}

.clear{
    clear:both;
}

.mainsection{
    height:500px;
}

.mainsection .container{
    margin-top:10px;
}

.verticalmenubar{
	position:fixed;
    background-color:black;
    padding:30px ;
	top:250px;
    width:16%;
	text-align:center;
}

 .verticalmenubar a{
	 display:block;
    text-decoration: none;
    padding:10px 0px;
    color:white;
} 

.verticalmenubar a:hover{
    background-color:white;
    color:#1c5caf;
    padding:10px ;
}

.bodysection{
	padding:20px 20px 20px 305px;
    min-height:650px;
    width:74%;
    background-color:rgba(121, 120, 120, 0.1);
}

.profiletable{
    padding:20px;
    text-align:center;
}

.profiletable img{
	display:inline-block;
    margin-bottom:20px;
    border:2px solid black;
}

.imagediv{
    display:inline-block;
    position:relative;
}

.profiletable i{
    position:absolute;
    font-size:30px;
    top:75px;
    right:-5px;
}

.profilefield{
	margin:10px 0px ;
}

.profilefield label {
	text-align:left;
	font-size:22px;
	width:150px;
	display:inline-block;
}

.profilefield input[type=text],input[type=number]{
	width:300px;
    height:35px;
	font-size:20px;
    text-align:left;
    padding:15px;
	border-radius:30px;
}

.editsavebutton input[type=button]{
    margin-top:15px;
    width:150px;
	margin-bottom:20px;
    margin-left:30px;
    height:50px;
    padding-left:5px;
    padding-top:3px;
    font-size:15px;
    background-color: black;
    border-radius: 15px;
    color:white;
}

.verticalmenubar h3{
	color:white;
    font-size:25px;
}

#getnewimage{
    position:absolute;
    top:80px;
    opacity:0;
}
.profilefield p{
    padding:10px;
    color:red;
}